:root {
  --dynamic-color: #008000;
  transition: --dynamic-color 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
  color: white;
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* para forçar o sublinhado nos textos */
u {
  text-decoration: underline !important;
}

i {
  background-color: transparent;
}

/* Header */
header {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-style: italic;
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 80px;
  margin-bottom: 20px;
}

header h1:hover {
  background-color: var(--dynamic-color);
  transform: scale(1.05);
  cursor: default;
}

header button {
  padding: 15px 40px;
  background-color: var(--dynamic-color);
  font-size: 20px;
  border-radius: 30px;
  border: 0;
  transition: transform 0.3s ease, background-color 0.5s ease;
  margin-top: 30px;
}

header button:hover {
  transform: scale(1.15);
  box-shadow: 0 0 10px rgba(5, 0, 3, 0.8);
}


/* Navbar */
nav {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  gap: 50px;
  position: relative;
  top: 30px;
}

nav a {
  color: white;
  transition: all 0.3s ease;
  padding: 16px 40px;
  border-radius: 80px;
  display: block;
}

nav a:hover {
  background-color: var(--dynamic-color);
  transform: scale(1.15);
}

/* Topo do site */
.topo_do_site {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 250px;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 80px;
}

.minhafoto {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minhafoto img {
  width: 100%;
  max-width: 450px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--dynamic-color);
  box-shadow: 0 0 15px var(--dynamic-color), inset 0 0 15px var(--dynamic-color);
  transition: all 0.5s ease;
  filter: drop-shadow(0 0 8px rgba(4, 163, 129, 0.4));
  animation: pulse 2s infinite;
}

.minhafoto img:hover {
  animation: none;
  box-shadow: 0 0 25px var(--dynamic-color), inset 0 0 25px var(--dynamic-color);
  filter: drop-shadow(0 0 15px rgba(11, 151, 140, 0.6));
  border-color: var(--dynamic-color);
}

@keyframes pulse {

  0%,
  100% {
    box-shadow: 0 0 15px var(--dynamic-color),
      inset 0 0 15px var(--dynamic-color);
    filter: drop-shadow(0 0 8px rgba(14, 165, 107, 0.4));
  }

  50% {
    box-shadow: 0 0 20px var(--dynamic-color),
      inset 0 0 20px var(--dynamic-color);
  }
}

.inicio {
  max-width: 600px;
  flex: 1;
  min-width: 300px;
  color: #e0e0e0;
}

.inicio h1 {
  font-size: clamp(2rem, 4vw, 2.8rem);
  margin-bottom: 40px;
  text-align: center;
  margin-top: 30px;
}

.inicio p {
  margin-top: 10px;
  font-size: clamp(1rem, 2vw, 1.15rem);
  text-align: justify;
  line-height: 1.5;
  color: #ddd;
}

.inicio ul {
  margin-top: 15px;
  padding-left: 20px;
  font-size: clamp(1rem, 2vw, 1.1rem);
  color: #ccc;
  line-height: 1.5;
  list-style-type: disc;
}

.inicio ul li {
  margin-bottom: 8px;
}


/* Efeito de piscar da digitação  */
.cursor {
  animation: piscar 0.7s infinite;
  color: var(--dynamic-color);
  font-weight: bold;
  transition: color 0.5s ease;
}

@keyframes piscar {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}



/* Responsividade */
/* Responsividade */
/* Responsividade */
@media (max-width: 1400px) {
  .topo_do_site {
    flex-direction: column;
    gap: 30px;
  }

  .minhafoto {
    order: -1;
  }

  .inicio h1,
  .inicio p {
    text-align: center;
  }

  nav ul {
    gap: 1rem;
  }

  nav a {
    padding: 10px 15px;
  }
}

@media (max-width: 768px) {
  nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
    margin-top: -20px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
  }

  nav ul li a i {
    margin-bottom: 5px;
    font-size: 1.5rem;
  }

  .topo_do_site {
    flex-direction: column;
    gap: 30px;
  }

  .minhafoto {
    order: -1;
  }

  .inicio h1,
  .inicio p {
    text-align: center;
  }

  nav ul {
    gap: 1rem;
  }

  nav a {
    padding: 10px 15px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 15px;
  }

  .topo_do_site {
    padding: 20px;
  }

  .minhafoto img {
    max-width: 300px;
  }

}